body {
  background-color: #222831;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#e8e8e8
}
input{
  background-color: #30475e;
  color:#e8e8e8;
  outline: none;
  border: none;
  padding:10px;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 5px;
}
textarea{
  background-color: #30475e; 
  color:#e8e8e8;
  outline: none;
  border: none;
  padding:10px;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 5px;
}